body {
    background-color: yellow;
    margin: 100px;
    padding: px;
}
h1 {
    color: red;
    text-align: center;
    font-weight: bold;
    background-color: black;
}
h2 {
    color: blue;
    text-align: left;
}